
# Build artifacts
dist/
build/
*.egg-info/
spiritcli.egg-info/

# Python
__pycache__/
*.pyc
*.pyo
spirit/storage/scan_cache.json
spirit/storage/scans.db


# Virtual environments
venv/
.venv/
testenv/
testenv2/

# Caches
.pytest_cache/

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db